@page
@model MedicalSearchingPlatform.Pages.MedicalFacilityPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="delete-medical container mt-5">
    <h2 class="text-center">Delete MedicalFacility</h2>
    <div class="text-center mb-3">
        <img src="@Model.MedicalFacility.ImageUrl" class="img-fluid rounded" alt="Medical Facility Image" style="max-width: 100%; height: auto;">
    </div>
    <div class="d-flex justify-content-center">
        <div class="medical-facility-infor">
        <p><strong>@Html.DisplayNameFor(model => model.MedicalFacility.FacilityName):</strong> @Html.DisplayFor(model => model.MedicalFacility.FacilityName)</p>
        <p><strong>@Html.DisplayNameFor(model => model.MedicalFacility.Address):</strong> @Html.DisplayFor(model => model.MedicalFacility.Address)</p>
        <p><strong>@Html.DisplayNameFor(model => model.MedicalFacility.Infor):</strong> @Html.DisplayFor(model => model.MedicalFacility.Infor)</p>
        <p><strong>@Html.DisplayNameFor(model => model.MedicalFacility.PhoneNumber):</strong> @Html.DisplayFor(model => model.MedicalFacility.PhoneNumber)</p>
        <p><strong>@Html.DisplayNameFor(model => model.MedicalFacility.CreatedAt):</strong> @Html.DisplayFor(model => model.MedicalFacility.CreatedAt)</p>
    </div>
    </div>
<div>
   
    
    <form method="post" class="d-flex justify-content-center gap-2">
        <input type="hidden" asp-for="MedicalFacility.FacilityId" />
        <input type="submit" value="Delete" class="btn-save-medical" />
        <a asp-page="./Index" class="btn-back">Back to List</a>
    </form>
</div>
</div>
