@page
@model MedicalSearchingPlatform.Pages.MedicalFacilityPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalFacility</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFacility.FacilityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalFacility.FacilityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFacility.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalFacility.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFacility.Infor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalFacility.Infor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFacility.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalFacility.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFacility.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalFacility.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalFacility.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalFacility.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MedicalFacility.FacilityId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
