@page
@model MedicalSearchingPlatform.Pages.DoctorPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="delete-medical container mt-5">
<h2 class="text-center">Delete Doctor</h2>
    <div class="d-flex justify-content-center align-items-center mt-4 gap-5">
        <div class="me-4">
            <img src="@Model.Doctor.ImageUrl" alt="Doctor Image" class="rounded-circle" width="150" height="150">
        </div>
        <div class="text-start">
            <p><strong>Facility:</strong> @Model.Doctor.Facility.FacilityName</p>
            <p><strong>Specialization:</strong> @Model.Doctor.Specialization</p>
            <p><strong>Experience Years:</strong> @Model.Doctor.ExperienceYears</p>
            <p><strong>Qualifications:</strong> @Model.Doctor.Qualifications</p>
            <p><strong>Experience:</strong> @Model.Doctor.Experience</p>
            <p><strong>Created At:</strong> @Model.Doctor.CreatedAt</p>
        </div>
    </div>

        <form method="post" class="d-flex justify-content-center gap-2">
        <input type="hidden" asp-for="Doctor.DoctorId" />
            <input type="submit" value="Delete" class="btn-save-medical" />
        <a asp-page="./Index" class="btn-back">Back to List</a>
    </form>

</div>
