@page
@model MedicalSearchingPlatform.Pages.DoctorPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.User.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Facility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Facility.FacilityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Specialization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.ExperienceYears)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.ExperienceYears)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Qualifications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Qualifications)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Doctor.DoctorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
