@page
@model MedicalSearchingPlatform.Pages.DoctorPage.DetailsModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var userRole = HttpContextAccessor.HttpContext?.Session.GetString("UserRole");
    var isStaff = userRole == "Staff";
}

@{
    ViewData["Title"] = "Details";
}
<div class="medical-service-details container mt-5">
    <h2 class="text-center mb-4">Details Doctor</h2>
    <div class="row">
        <div class="col-md-4 text-center">
            @if (!string.IsNullOrEmpty(Model.Doctor.ImageUrl))
            {
                <img src="@Model.Doctor.ImageUrl" class="img-fluid rounded-circle border" alt="Doctor Image" style="width: 200px; height: 200px; object-fit: cover;">
            }
            else
            {
                <img src="/images/default-doctor.png" class="img-fluid rounded-circle border" alt="Default Image" style="width: 200px; height: 200px; object-fit: cover;">
            }
        </div>
        <div class="col-md-8">
            <dl class="row">

                <dt class="col-sm-4">Facility:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.Facility.FacilityName)</dd>

                <dt class="col-sm-4">Specialization:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.Specialization)</dd>

                <dt class="col-sm-4">Experience Years:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.ExperienceYears)</dd>

                <dt class="col-sm-4">Qualifications:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.Qualifications)</dd>

                <dt class="col-sm-4">Experience:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.Experience)</dd>

                <dt class="col-sm-4">Created At:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Doctor.CreatedAt)</dd>
            </dl>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-2 mt-4">
        
            @if (isStaff)
            {
        <a asp-page="./Edit" asp-route-id="@Model.Doctor.DoctorId" class="btn-edit-profile">Edit</a>
            }
        <a asp-page="./Index" class="btn-back">Back to List</a>
    </div>
</div>
</div>

<div>

