@page
@model MedicalSearchingPlatform.Pages.AppointmentPage.DetailsModel

@{
    Layout = null;
}
<div>
    <dl class="row">
        <dt class="col-sm-3">
            Doctor Name
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Appointment.Doctor.User.FullName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Appointment.AppointmentDate)
        </dd>
        <dt class="col-sm-3">
            Schedule date
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Appointment.WorkingSchedule.WorkDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentInfo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Appointment.AppointmentInfo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Appointment.Status)
        </dt>
        <dd class="col-sm-9 @(Model.Appointment.Status == "Cancled" ? "text-danger":"text-success") ">
            @Html.DisplayFor(model => model.Appointment.Status)
        </dd>
    </dl>
</div>