@page
@model MedicalSearchingPlatform.Pages.MedicalRecordPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="medical-service-details container mt-5 d-flex justify-content-center flex-column gap-3">
    <h2 class="text-center">Details MedicalRecord</h2>

<div class="col-md-8">
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalRecord.Patient)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicalRecord.Patient.User.FullName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalRecord.Doctor)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicalRecord.Doctor.User.FullName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalRecord.RecordDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicalRecord.RecordDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalRecord.Diagnosis)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicalRecord.Diagnosis)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalRecord.Treatment)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicalRecord.Treatment)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalRecord.Notes)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicalRecord.Notes)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalRecord.AttachmentUrl)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicalRecord.AttachmentUrl)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicalRecord.IsShared)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicalRecord.IsShared)
        </dd>
    </dl>
</div>
<div class="d-flex gap-3 justify-content-center">
    @if (User.IsInRole("Doctor"))
    {
        <a asp-page="./Edit" asp-route-id="@Model.MedicalRecord.MedicalRecordId" class="btn-save-medical">Edit</a>
    }
    <a asp-page="./Index" class="btn-back">Back to List</a>
</div>
</div>
